openapi: 3.0.3
info:
  title: Tripetto FormBuilder SDK Forms Webhooks API
  description: The Tripetto FormBuilder SDK API provides capabilities for building and running smart conversational forms and surveys. The SDK exposes client-side JavaScript/TypeScript APIs for embedding form builders and runners into web applications, along with webhook delivery for routing form responses to external services.
  version: 1.0.0
  contact:
    url: https://tripetto.com/help/
  termsOfService: https://tripetto.com/terms/
  license:
    name: Commercial
    url: https://tripetto.com/pricing/
servers:
- url: https://tripetto.com
  description: Tripetto Platform
tags:
- name: Webhooks
  description: Configure outbound webhook integrations
paths:
  /app/api/forms/{formId}/webhooks:
    get:
      operationId: listFormWebhooks
      summary: List Form Webhooks
      description: List all configured webhooks for a form.
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/formId'
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
    post:
      operationId: createFormWebhook
      summary: Create Form Webhook
      description: Configure a webhook to receive form responses at a custom URL.
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/formId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
  /app/api/forms/{formId}/webhooks/{webhookId}:
    delete:
      operationId: deleteFormWebhook
      summary: Delete Form Webhook
      description: Remove a webhook configuration from a form.
      tags:
      - Webhooks
      security:
      - BearerAuth: []
      parameters:
      - $ref: '#/components/parameters/formId'
      - name: webhookId
        in: path
        required: true
        description: The unique identifier of the webhook
        schema:
          type: string
      responses:
        '204':
          description: Webhook deleted
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Webhook:
      type: object
      properties:
        id:
          type: string
          description: Unique webhook identifier
        url:
          type: string
          format: uri
          description: Destination URL for webhook payloads
        sendRawData:
          type: boolean
          description: Whether to send raw response data
          default: false
        enabled:
          type: boolean
          description: Whether this webhook is active
          default: true
        created:
          type: string
          format: date-time
    CreateWebhookRequest:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          format: uri
          description: Destination URL to receive webhook POST requests
        sendRawData:
          type: boolean
          description: Send raw nested response data structure
          default: false
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    formId:
      name: formId
      in: path
      required: true
      description: The unique identifier of the form
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer token for API authentication
externalDocs:
  description: Tripetto FormBuilder SDK Documentation
  url: https://tripetto.com/sdk/docs/
